# OpenSSL root CA configuration file.
# Copy to '/rootca/openssl.cnf'.

[ ca ]
# 'man ca'
default_ca = CA_default

[ CA_default ]
# Directory and file locations.
dir               = C:/Users/AI/Documents/Newfolder/openssl/rootca
certs             = $dir/
crl_dir           = $dir/
new_certs_dir     = $dir/
database          = $dir/index.txt
serial            = $dir/serial
RANDFILE          = $dir/.rand
# The root key and root certificate.
private_key       = $dir/rootca.key
certificate       = $dir/rootca.crt
# For certificate revocation lists.
default_crl_days  = 30
crlnumber         = $dir/crlnumber
crl               = $dir/ca.asys.crl
crl_extensions    = crl_ext
name_opt          = ca_default
cert_opt          = ca_default
default_days      = 3650
# SHA-1 is deprecated, so use SHA-2 instead.
default_md        = sha512
preserve          = no
policy            = policy_strict


[ policy_strict ]
# The root CA should only sign intermediate certificates that match.
# See the POLICY FORMAT section of `man ca`.
commonName              = supplied
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = match
organizationalUnitName  = optional
emailAddress            = optional

[ policy_loose ]
# Allow the intermediate CA to sign a more diverse range of certificates.
# See the POLICY FORMAT section of the `ca` man page.
commonName              = supplied
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
emailAddress            = optional

[ req ]
# Options for the req tool ('man req').
default_bits        = 2048
default_days        = 3650
# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha512
distinguished_name  = req_distinguished_name
string_mask         = utf8only
#prompt             = no
# when using -x509 option
x509_extensions     = v3_ca

[ req_distinguished_name ]
commonName                      = Common Name
countryName                     = Country Name (2 letter code)
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name
emailAddress                    = Email Address
# Optionally, specify some defaults.
commonName_default              = asys.local
countryName_default             = EG
stateOrProvinceName_default     = DK
localityName_default            = DK
0.organizationName_default      = asys
organizationalUnitName_default  = ai
emailAddress_default            = contact@asys.local

[ v3_ca ]
# Extensions for a typical CA ('man x509v3_config').
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:true
keyUsage = digitalSignature, cRLSign, keyCertSign
subjectAltName = @alt_names

[ v3_intermediate_ca ]
# Extensions for a typical intermediate CA ('man x509v3_config').
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:true
keyUsage = digitalSignature, cRLSign, keyCertSign
subjectAltName = @alt_names

[ usr_cert ]
# Extensions for client certificates ('man x509v3_config').
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "OpenSSL Generated Client Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection, codesigning

[ server_cert ]
# Extensions for server certificates ('man x509v3_config').
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ crl_ext ]
# Extension for CRLs ('man x509v3_config').
authorityKeyIdentifier=keyid:always

[alt_names]
DNS.1	= twin.local
DNS.2	= ai.twin.local
DNS.3	= mi.twin.local
DNS.4	= *.twin.local
DNS.5	= localhost
IP.1	= 192.168.1.100
IP.2	= 192.168.1.101